<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<!--绑定对应的mapper接口
-->
<mapper namespace="com.neuedu.bank.mapper.MobileMapper">

    <select id="selectByTel" parameterType="Personinfo" resultType="Personinfo">
        select *
        from personinfo
        where telephone=#{tel}
    </select>
    <insert id="inserByTelandPwd" parameterType="Personinfo" >
        INSERT INTO mobile (telephone, password)
        VALUES (#{telephone}, #{password})
    </insert>



</mapper>
